<!DOCTYPE html>
<html ng-app="example">
<head>
    <title>ngReactGrid Basic Example</title>
    <link rel="stylesheet" type="text/css" href="../build/css/ngReactGrid.css">
</head>
<body>
<div ng-controller="BasicExampleController" style="width: 100%">
    <ng-react-grid grid="grid"></ng-react-grid>
    <button type="button" ng-click="edit()" ng-show="!isEditing()">Edit Grid</button>
    <button type="button" ng-click="save()" ng-show="isEditing()">Save Grid</button>
    <button type="button" ng-click="cancel()" ng-show="isEditing()">Cancel</button>
    <br/>
    Selections: {{selections}}<br/>
    Clicked On Record: {{clickedOnRecord}}
</div>

<script type="text/javascript"
        src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.10/angular.min.js"></script>
<script src="http://fb.me/react-0.10.0.js"></script>
<script src="./dataSet.js"></script>
<script src="../build/js/ngReactGrid.js"></script>
<script type="text/javascript">

    angular.module("example", ['ngReactGrid'])
            .controller("BasicExampleController", function ($scope, $timeout,
                  ngReactGridCheckbox, ngReactGridTextField) {

                $scope.employee = {};
                $scope.selections = [];
                $scope.clickedOnRecord = {};
                $scope.editingGrid = false;

                $scope.isEditing = function () {
                    return $scope.editingGrid;
                };

                $scope.edit = function () {
                    $scope.grid.edit();
                    $scope.editingGrid = true;
                };

                $scope.save = function () {
                    var data = $scope.grid.save();
                    console.debug('data', data);
                    $scope.editingGrid = false;
                };

                $scope.cancel = function () {
                    $scope.editingGrid = false;
                    $scope.grid.cancel();
                };

                var referenceData = dataSet.slice(0, 100).map(function (rec) {
                    return {
                        id: rec.firstName,
                        name: rec.firstName
                    }
                });

                var isOddRow = function(index) {
                    return (index % 2) === 0;
                };
                dataSet = dataSet.map(function (rec, index) {
                    return {
                        user: {
                            firstName: rec.firstName,
                            lastName: rec.lastName
                        },
                        disableCheckbox: isOddRow(index)
                    };
                });

                $scope.grid = {
                    data: dataSet,
                    columnDefs: [
                      new ngReactGridCheckbox($scope.selections, 
                          {batchToggle: true,
                           disableCheckboxField: 'disableCheckbox'}),
                        {
                            field: "user.firstName",
                            columnFilter: true,
                            displayName: "First Name",
                            edit: function (row) {
                                return new ngReactGridTextField(row, 'user.firstName');
                            }
                        },
                        {
                            field: "user.lastName",
                            columnFilter: true,
                            displayName: "Last Name"
                        }
                    ]
                };

                /*$scope.grid = {
                 data: [],
                 columnDefs: [
                 {
                 field: "user.firstName",
                 displayName: "First Name"
                 },
                 {
                 field: "user.lastName",
                 displayName: "Last Name"
                 }
                 ],
                 /*rowClick: function(row) {
                 console.debug(row);
                 },
                 localMode: false,
                 getData: function () {
                 var grid = this;
                 $timeout(function () {
                 if (grid.search) {
                 $scope.grid.data = [];
                 } else {
                 $scope.grid.data = dataSet.slice((grid.currentPage - 1) * grid.pageSize, (grid.pageSize * grid.currentPage));
                 }
                 $scope.grid.totalCount = dataSet.length;
                 }, 2000);
                 }
                 };*/
            });

</script>
</body>
</html>
